
### Gradle ###
.gradle
/build/

### Intellij ###
.idea/
*.ipr
*.iml
*.iws
out/


### Eclipse ###
.metadata
.settings/
.loadpath
.classpath
.project

### Vim ###
*.sw[op]

### Logs ###
*.log

### Node ###
node_modules/
